*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}
img{
    border: 0;
}

h1{
    font-size: 5.8rem;
    color: #161617;
    font-weight: 900;
}

h2{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}
p,a,li{
    font-size: 1.6rem;
    margin: 2rem 0 4rem 0;
    font-weight: 300;
    letter-spacing: .05rem;
    line-height: 1.65;
}
a{
    text-decoration: none;
    line-height: 0;
}
ul,ol,li{
    list-style: none;
    margin: 0;
}
button{
  background-color: #161617;
  color: #FFFF;
  cursor: pointer;
  padding: .9rem 2rem;
  border-radius: 15px;
  border: none;
  font-size: 2.1rem;
  transition: .3s all ease-in-out;
  border: 1px solid #161617;
}
button:hover{
  color: #161617;
  background-color: #FFFF;
}
